@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-y: auto;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    @include mobile-S() {
        font-size: 0.875rem;
    }
}
body {
    width: 100%;
    font-size: 1rem;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;

    // 組件
    @include navbar;
    @include footer;
    @include back-top;
    // @include form;
    // @include form-apply;
    @include table;
    @include div-table;
    @include new-list;
    @include breadcrumb;

    main {
        padding-top: $p-XXS;
        @include pad {
            padding-top: 0;
        }

        // scroll-indicator
        .scroll-indicator-gp {
            position: fixed;
            top: 120px;
            z-index: 1000;
            width: 100%;
            @include pad {
                top: 0;
            }
            .progress-container {
                width: 100%;
                height: 5px;
                background: #f2f2f2;
                @include mobile-L {
                    height: 6px;
                }
                .progress-bar {
                    height: inherit;
                    background: rgba($color: $primary-default, $alpha: 0.8);
                    width: 0%;
                }
            }
        }
        h2 {
            color: black;
            i {
                font-size: $size-h2;
                color: $primary-default;
            }
        }

        // 活動行事曆
        .content-calendar {
            .fullCalendar {
                margin-top: $m-S;
            }
            button {
                background-color: $primary-default !important;
                border: solid 1px $primary-default !important;
            }
            table {
                th {
                    background-color: $primary-default;
                    .fc-col-header-cell-cushion {
                        color: white;
                    }
                }
                td {
                    background-color: white;
                    .fc-daygrid-dot-event {
                        align-items: baseline;
                    }
                    .fc-daygrid-event {
                        white-space: wrap;
                    }
                    .fc-daygrid-dot-event .fc-event-title,
                    .fc-h-event .fc-event-title {
                        text-align: left !important;
                        // ellipsis-lineClamp
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /*行數*/
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .fc .fc-daygrid-day-top {
                        flex-direction: row;
                    }
                    a {
                        color: black;
                        cursor: pointer;
                    }
                    .fc-daygrid-day-number {
                        color: $text;
                    }
                }
            }
            @include mobile-L {
                /* calendar - month */
                .fc-toolbar-chunk:nth-child(2) {
                    font-size: $size-caption;
                    margin: 0 $p-XXS;
                }
                .fc-toolbar-chunk:nth-child(3) {
                    text-align: right;
                }
                // .fc-header-toolbar {
                //     display: flex;
                //     justify-content: space-between;
                //     // align-items: center;
                //     flex-wrap: wrap;
                //     // flex-direction: row;
                // }
                // .fc-toolbar-chunk:nth-child(2) {
                //     font-size: $size-p;
                //     margin: 0 $p-XS;
                // }
                // .fc-toolbar-chunk:nth-child(3) {
                //     width: 100%;
                //     text-align: right;
                // }
                .fc-toolbar-title {
                    width: 100%;
                    margin: $m-XS 0;
                }
                .fc-daygrid-dot-event {
                    flex-wrap: wrap;
                }
                .fc-view-harness {
                    margin-bottom: 40px;
                    height: 500px !important;
                }
                .fc-daygrid {
                    overflow: auto;
                }
                /* 預設scrollar */
                .fc-daygrid .fc-scroller.fc-scroller-liquid-absolute {
                    position: relative;
                }
                .fc-daygrid table.fc-scrollgrid {
                    width: auto;
                    min-height: 510px;
                }
                /* tbody */
                .fc-daygrid .fc-scrollgrid th,
                .fc-daygrid .fc-scrollgrid td {
                    width: 100px;
                }
            }
        }
        // 新到館藏
        .content-newbook {
            .new-book-gp {
                margin: $m-XS 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include pad {
                    justify-content: start;
                }
                @include mobile-L {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .block {
                    width: 20%;
                    padding: $p-XS;
                    @include pad {
                        width: 33%;
                    }
                    @include mobile-L {
                        width: 48%;
                        padding: 0;
                        margin-bottom: $m-S;
                    }
                    .top {
                        margin-bottom: $m-XS;
                        width: 100%;
                        display: block;
                        text-align: center;
                        img {
                            object-fit: cover;
                            width: 85%;
                            height: 85%;
                            max-height: 220px;
                        }
                    }
                    .bottom {
                        // padding: 0 $p-XXS;
                        .title {
                            color: $text;
                            font-weight: bold;
                            margin-bottom: $p-XXS;
                            font-size: $size-p;
                        }
                    }
                }
            }
        }
        // 訊息公告
        .content-news {
            .post-gp {
                margin-top: $m-XS;
                display: flex;
                .icon-gp {
                    display: flex;
                    align-items: center;
                    margin-right: $m-S;
                    i {
                        color: $complementary;
                        font-weight: normal;
                    }
                    p {
                        color: $text;
                    }
                }
            }
            hr {
                margin-bottom: $m-S;
            }
            .text-gp {
                margin-bottom: $m-M;
                p {
                    line-height: 1.75;
                    margin-bottom: $p-XS;
                }
                h3 {
                    margin-bottom: $p-XXS;
                }
                ul {
                    padding-left: 0;
                    list-style-position: inside;
                    li {
                        color: $text;
                        line-height: 1.75;
                    }
                }
                ul.file-gp {
                    padding-left: 0;
                    li {
                        list-style-type: none;
                        a {
                            line-height: 2;
                        }
                    }
                }
            }
            .info-gp {
                display: flex;
                margin: $m-L 0;
                @include mobile-L {
                    flex-wrap: wrap;
                    margin: $m-M 0;
                }
                .left {
                    width: 25%;
                    @include web-S {
                        width: 30%;
                    }
                    @include pad {
                        width: 40%;
                    }
                    @include mobile-L {
                        width: 100%;
                    }
                    img {
                        // margin-right: $m-M;
                        width: 100%;
                        height: 100%;
                        max-height: 220px;
                        object-fit: contain;
                        @include mobile-L {
                            // margin-right: 0;
                            margin-bottom: $m-S;
                        }
                    }
                }
                .right {
                    // width: 75%;
                    padding-left: $p-XS;
                    @include pad {
                        padding-left: $p-M;
                    }
                    @include mobile-L {
                        width: 100%;
                        padding-left: 0;
                    }
                    .title {
                        font-size: $size-h5;
                        margin-bottom: $m-XS;
                    }
                    .text-gp {
                        margin-bottom: 0;
                        p {
                            line-height: 1.75;
                            margin-bottom: 0;
                            // @include pad {
                            //     line-height: 1.5;
                            // }
                        }
                    }
                }
            }
        }
        // lightbox
        .section-lightbox {
            display: flex;
            flex-wrap: wrap;
            margin-top: $m-XS;
            .block {
                width: 25%;
                margin: 0;
                padding: 0;
                margin-bottom: $m-S;
                @include pad {
                    width: 33.3%;
                }
                @include mobile-L {
                    width: 50%;
                    margin-bottom: $m-XS;
                }
                a {
                    img {
                        width: 95%;
                        aspect-ratio: 4 / 3;
                        object-fit: contain;
                        object-position: center;
                        margin: 0;
                        background-color: $complementary;
                    }
                }
                .title {
                    font-size: $size-h5;
                    margin: 0;
                    padding: 0;
                    margin-top: $p-XXS;
                    line-height: 1.5;
                    color: black;
                }
            }
        }
        // 館藏查詢
        .content-search-book {
            .form {
                background-color: $primary-table;
                padding: $p-L $p-2L;
                border-radius: 12px;
                margin: $m-M 0;
                .form-gp {
                    display: flex;
                    align-items: center;
                    margin-bottom: $m-XS;
                    label {
                        width: 20%;
                    }
                    input {
                        width: 80%;
                    }
                }
                .btn-tool{
                    text-align: center;
                    input{
                        margin: 0 $m-XXS;
                    }
                }
            }
        }
    }
    // 彈出燈箱不在main架構裡
    // .lightboxOverlay:focus{
    //     border: unset !important;
    // }
    .lightbox {
        &:focus {
            outline: unset !important;
        }
        .lb-nav a.lb-prev,
        .lb-nav a.lb-next {
            width: 15%;
        }
    }
}
